.gallery-item {
    list-style-type: none;
}

.gallery {
    width: 360px;
    height: 200px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.gallery-link {
    display: block;
}

.gallery-image {
    width: 360px;
    height: 200px;
}